<h1>Welcome to <%= APP_NAME %>, <%= @user.name %></h1>
<p>
  You have successfully signed up to: <%= @user.email %><br>
</p>
<p>
  To login to the site, just follow this <a href="#" class="login-link">link</a>.
</p>
<p>Thanks for joining and have a great day!</p>
